body {
    color: #f3c251;
    background-color: #4f2263e6;
}

table, .table {
    color: #222222;
    background-color: #a77657;
}

#homepage-link {
    color: #fbc752;
}

#welcome-message {
    color: #8d8700;
}

a {
    color: #fbc752
}

a:hover, a:focus {
    color: #c3b100;
    text-decoration: underline;
}


.form-control {
  width: 40%;
}

#map {
    height: 400px;
      }

#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
      }


tr.pending {
    background-color: #f2c151;
}

tr.done {
    background-color: gray;
}

tr {
    transition: 0.2s ease;
}