/* Styles for Mindful Mornings site. */

#floatingPanel {
    padding: 5px
}

#intention-message {
    color: #e47025;
}

#register-button {
    color: #fff;
}

#tag-line {
    color: #fff;
    margin-top: 1rem;
}

a:hover, a:focus {
    color: #c3b100;
    text-decoration: none;
}

.form-control {
  width: 40%;
}

#map {
    height: 400px;
      }

#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
      }

#directionsPanel {
    background-color: #FDF6E3;
}


tr.pending {
}

tr.done {
}

tr {
    transition: 0.2s ease;
}

/* yellow #c3b100, #fbc752*/
