<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}TITLE HERE{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="/static/css/stylesheet.css">  
</head>
<body>
<div class="container">
    <h1>
        <a href="/">Mindful Mornings</a>
    </h1>
        <p>Elevate your morning routine</p>
        {% for message in get_flashed_messages() %}
        <div class="flashes">{{ message }}</div>
        {% endfor %}

    {% block content %}CONTENT HERE{% endblock %}
</div>
</body>
</html>