<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}TITLE HERE{% endblock %}</title>

    <!-- Bootstrap with Solar Bootswatch theme -->
    <link href="https://bootswatch.com/4/solar/bootstrap.css" rel="stylesheet">
    <!-- My CSS file -->
    <link rel="stylesheet" href="/static/styles.css">
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

</head>
<body>
  <div class="container"> <!--Nav Bar begin-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <h1>
        <a class="navbar-brand" href="/">Mindful Mornings</a>
      </h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% if session['user'] %} <!--Only allows user to see these options if logged in-->
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/settings">Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
        {% endif %}
        <p class="nav-item" id="tag-line">{Elevate your morning routine}</p>
      </div>
    </nav>
  </div>
  <header class="container">
    {% for msg in get_flashed_messages() %}
      <div class="alert alert-info">{{ msg }}</div>
    {% endfor %}
  </header>

  {% block content %}

    CONTENT HERE

  {% endblock %}

  {% block scripts %}

  {% endblock %}
</body>
</html>