{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container">
    <!-- Row of 2 columns -->
    <div class="row">
        <div class="col-md-6">
        <h2>Welcome, {{username}}!</h2>
        <p>Let's set your intention for this morning.</p>
    </div>
    <div class="col-md-6">
        <p> <b>Intention for today:</b> {{ intention }}</p>
        <p> <b>Priority for today:</b> {{ priority }} </p>
        <p> <b>Notes/reminders for today:</b> {{ notes_reminders }} </p>
    </div>
</div>

    <div class="container">
        <!-- Row of three columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Task templates</h2>
            <p>List of task templates you've created will appear here. </p>
            <table class="table">
                <thead>
                <th>Task</th>
                <th>Estimated duration</th>
                </thead>
                <tbody>
                {% for task in tasks %}
                    <tr>
                    <td>{{ task.task_name }}</td>
                    <td>{{ task.duration_estimate }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <p>Create a task template here:</p>
            <form method="POST" action="/api/task">
                <div class="form-group">
                    <label for="field-task_name">Task name</label>
                    <input id="task_name" class="form-control" type="text" name="task_name" required>
                </div>
                <div class="form-group">
                    <label for="field-duration_estimate">Duration estimate (in minutes)</label>
                    <input id="field-duration_estimate" class="form-control" type="text" name="duration_estimate" required>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary">
                </div>
            </form>
          </div>
          <div class="col-md-4">
            <h2>Gameplan</h2>
            <p>List of tasks to do this morning will appear here.</p>
            <table class="table">
                <thead>
                <th>Gameplan Task</th>
                <th>Start time</th>
                <th>End time</th>
                </thead>
                <tbody>
                {% for gameplan_task in gameplan_tasks %}
                    <tr>
                    <td>{{ gameplan_task.task.task_name }}</td>
                    <td>{{ gameplan_task.start_time }}</td>
                    <td>{{ gameplan_task.end_time}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <p>Choose existing template to add to your Gameplan:</p>
            <form method="POST" action="/api/add_task_to_gameplan">
                <div class="form-group">
                    <label for="field-task_name">Task name</label>
                            <select name="gameplan_task_name">
                                {% for task in tasks %}
                                <option id="gameplan_task_name" value="{{ task.task_id }}">{{ task.task_name }}</option>
                                {% endfor %}
                            </select>
                </div>
                <div class="form-group">
                    <label for="field-start_time">Start time</label>
                    <input id="field-start_time" class="form-control" type="time" min="0:00" max="12:00" name="start_time" required>
                </div>
                <div class="form-group">
                    <label for="field-end_time">End time</label>
                    <input id="field-end_time" class="form-control" type="time" type="time" min="0:00" max="12:00" name="end_time" required>
                </div>
                <div class="form-group">
                    <label for="field-order">Order</label>
                    <input id="order" class="form-control" type="text" name="order" required>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary">
                </div>
            </form>
          </div>
          <div class="col-md-4">
            <h2>Google Maps</h2>
            <p>Google maps API will appear here.</p>
            <div id="map"></div>
            <script>
                function initMap() {
                    let myHome = { lat: 37.783581,lng: -122.203272 };
                    let map = new google.maps.Map(
                        document.getElementById('map'), {zoom: 4, center: myHome});
                    let marker = new google.maps.Marker({position: myHome, map: map});
                }
            </script>
            <script async defer 
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgCCeTUkEkpOjg1RmeppwI2-F7WVCcoj4&callback=initMap">
            </script>
          </div>
        </div>

        <hr>

      </div>

{% endblock %}