{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="container">
    <!-- Row of 2 columns -->
    <div class="row">
        <div class="col-md-6">
            <h2>Welcome, {{username}}!</h2>
            <h4 id="intention-message">Let's set your intention for this morning.</h4>
             <p> <b>Intention for today:</b>
                <span id="stateful-component1"></span>
            </p>
        </div>
        <div class="col-md-6">
            <p> <b>Priority for today:</b>
                <span id="stateful-component2"></span>
            </p>
            <p> <b>Notes/reminders for today:</b>
                <span id="stateful-component3"></span>
            </p>
        </div>
    </div>
</div>

<div class="container">
<!-- Row of three columns -->
<div class="row">
  <div class="col-md-4">
    <h2>Task templates</h2>
    <p>Store your custom templates: </p>

    <table class="table table-hover table-primary">
      <thead>
        <tr class="table-primary">
            <th scope="col">Task</th>
            <th scope="col">Estimated duration</th>
            <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
      {% for task in tasks %}
        <tr class="table-primary" id={{task.task_id}}>
            <form method="DELETE" action="/api/task/{{task.task_id}}">
                <th scope="row">{{ task.task_name }}</th>
                <td>{{ task.duration_estimate }}</td>
                <td>
                    <button type="submit" value="delete" class="btn btn-secondary btn-sm">delete</button>
                </td>
            </form>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <p>Create a task template here:</p>

    <form method="POST" action="/api/task">
      <div class="form-group">
        <label for="field-task_name">Task name</label>
        <input id="task_name" class="form-control" type="text" name="task_name" required>
      </div>
      <div class="form-group">
        <label for="field-duration_estimate">Duration estimate (in minutes)</label>
        <input id="field-duration_estimate" class="form-control" type="text" name="duration_estimate" required>
      </div>
      <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary">
      </div>
    </form>
  </div>

  <div class="col-md-4">
    <h2>Gameplan</h2>
    <p>Map out your morning here:</p>
    <table class="table table-hover table-primary">
        <thead>
            <tr class="table-primary">
                <th scope="col">Gameplan Task</th>
                <th scope="col">Start time</th>
                <th scope="col">End time</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for gameplan_task in gameplan_tasks %}
            <tr class="table-primary" id={{gameplan_task.task.task_id}}>
                <form method="DELETE" action="/api/gptask/{{gameplan_task.task.task_id}}">
                    <th scope="row">{{ gameplan_task.task.task_name }}</th>
                    <td>{{ gameplan_task.start_time }}</td>
                    <td>{{ gameplan_task.end_time}}</td>
                    <td>
                        <button type="submit" value="delete" class="btn btn-secondary btn-sm">delete</button>
                    </td>
                </form>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!--<div id="root"></div> This is where React will go-->
    <p>Choose existing template to add to your Gameplan:</p>
    <form method="POST" action="/api/add_task_to_gameplan">
        <div class="form-group">
            <label for="field-task_name">Task name</label>
                    <select name="gameplan_task_name">
                        {% for task in tasks %}
                        <option id="gameplan_task_name" value="{{ task.task_id }}">{{ task.task_name }}</option>
                        {% endfor %}
                    </select>
        </div>
        <div class="form-group">
            <label for="field-start_time">Start time</label>
            <input id="field-start_time" class="form-control" type="time" min="0:00" max="12:00" name="start_time" required>
        </div>
        <div class="form-group">
            <label for="field-end_time">End time</label>
            <input id="field-end_time" class="form-control" type="time" type="time" min="0:00" max="12:00" name="end_time" required>
        </div>
        <div class="form-group">
            <label for="field-order">Order</label>
            <input id="order" class="form-control" type="text" name="order" required>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary">
        </div>
    </form>
  </div>
  <div class="col-md-4">
    <h2>Google Maps</h2>
    <p>Keep an eye on transit here:</p>
    <div id="map"></div>
    <div>
        <input id="start" type="textbox" placeholder="Enter Starting Address"></input>
        <input id="end" type="textbox" placeholder="Enter Ending Address"></input>
    </div>
    <div id="floatingPanel">
        <b>Mode of Travel: </b>
        <select id="mode">
            <option value="TRANSIT">Transit</option>
            <option value="DRIVING">Driving</option>
            <option value="BICYCLING">Bicycling</option>
            <option value="WALKING">Walking</option>
        </select>
        <input id="directions" type="button" class="btn btn-primary" value="Get directions">
    </div>
    <div id="directionsPanel" ></div>
  </div>
</div>

<hr>

</div>

{% endblock %}

{% block scripts %}

    <script src="/static/googlemap.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgCCeTUkEkpOjg1RmeppwI2-F7WVCcoj4&callback=initMap">
    </script>

    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone"></script> <!--in browser Babel transformer/transpiler-->
    <script type="text/jsx" src="/static/index.jsx"></script>

{% endblock %}