<!--This page is the first page user sees, prompts them to login/register before proceeding. -->

{% extends "base.html" %}

{% block title %}Welcome to Mindful Mornings!{% endblock %}

{% block content %}
<div class="container">
        <div class="col-md-6">
            <h2>Welcome, {{username}}!</h2>
            <h4 id="intention-message">Let's set your intention for this morning.</h4>
        </div>

    {% if session.get('user') %}
    <div class="col-md-6">
        <h4>Use the Navigation bar above to:</h4>
            <h4>
                <ul>
                    <li> Go to your Dashboard </li>
                    <li> Access your settings </li>
                    <li> Read about Mindful Mornings</li>
                    <li> Log out </li>
                </ul>
            </h4>

    {% else %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Please log in to access your account</h2>
                <form method="POST" action="/login">
                    <div class="form-group">
                        <label for="field-name">Username</label>
                        <input id="field-name" class="form-control" type="text" name="username" placeholder="Enter username" required>
                    </div>
                    <div class="form-group">
                        <label for="field-email">Password</label>
                        <input id="field-email" class="form-control" type="password" name="password" placeholder="Enter password" required>
                    </div>
                    <div class="form-group">
                        <input id="login-button" type="submit" value="Login" class="btn btn-primary">
                    </div>
              </form>
          </div>
        <div class="col-md-6">
            <h2>Or click here to register as a new user</h2>
                <button type="button" class="btn btn-primary">
                    <a id="register-button" href="/register">Register</a>
                </button>
        </div>
    </div>

    {% endif %}


{% endblock %}