{% extends "base.html" %}

{% block title %}Registration Form{% endblock %}

{% block content %}
<div class="container">
    <div class="col=md-6"
        <h2>Welcome</h2>
        <h2>Please choose a username and password to register</h2>
        <form method="POST" action="/register">
          <div class="form-group">
            <label for="field-username">Username</label>
            <input id="field-name" class="form-control" type="text" name="username" required>
          </div>
          <div class="form-group">
            <label for="field-password">Password</label>
            <input id="field-password" class="form-control" type="password" name="password" required>
          </div>
          <div class="form-group">
            <label for="field-email">Confirm Password</label>
            <input id="field-confirm-password" class="form-control" type="password" name="confirm_password" required>
          </div>
          <div class="form-group">
            <input type="submit" value="Register" class="btn btn-primary">
          </div>
        </form>
    </div>
</div>


{% endblock %}